

.card-detail{
    display: flex;
    align-items: center;
    background-color: rgb(146, 189, 253);
    border: solid 2px #110f92;
    width: 50%;
    height: 450px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color:#16397a;
    text-align: center;
}



.cart-img{
    width: 70%;
}

.cart-img img{
    width: 400px;
    height: 350px;
}

.card-title {
    font-size: 2rem;
    color: #0f927c;
    text-decoration: none;
}

.button-d{
    background-color: rgb(163, 184, 255);
    border: solid 2px #0f927c;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    color: #0f927c;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    }

.data-detail{
    color: #0f927c;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;

}

.final-compra{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #0f927c;
    text-align: center;
    margin-top: 20px;
}

.button-d:hover{
    background-color: rgb(9, 43, 155);
}